<%= partial(:masthead, locals: { image: '/images/home-bg.jpg', title: 'LPO Conference' }) %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="post-preview">
        <h2 class="post-title">Join us for the 2019 LPO Conference in Toledo</h2>
        <h4 class="post-subtitle">Engage with fellow Libertarians, hear from liberty movement leaders, learn about best practices, and discover the latest in how we're working toward a world set free!</h4>
        <p>Add descriptive text and welcome message here</p>
      </div>
    </div>
  </div>
</div>
<div class="map page-map" data-lat="41.616405" data-lon="-83.619011" data-caption="<strong>Radisson Hotel at The University of Toledo</strong><br>3100 Glendale Avenue<br>Toledo, OH 43614<br><a href='https://goo.gl/maps/tRdrTyfFnZ82'>Get Directions</a>"></div>
