<%= partial(:masthead, locals: { image: '/images/LP_generic_header.png', title: 'LPO Conference' }) %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="centered post-preview">
        <h2 class="post-title">Join us for the 2019 LPO Conference in Toledo</h2>
        <h4 class="post-subtitle">The Radisson Hotel at The University of Toledo</h4>
        <h4 class="post-subtitle">Friday, May 31<sup>st</sup> - Sunday, June 2<sup>nd</sup></h4>
        <p>
          <a class="btn btn-warning btn-lg" href="<%= data.settings.registration_link %>">Register Now!</a>
        </p>
        <hr>
        <p>
          Hotel Rooms are available at a discounted group rate:
          <br>
          <a class="btn btn-warning" href="/location">See Location Details</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="map page-map" data-lat="41.616405" data-lon="-83.619011" data-caption="<strong>Radisson Hotel at The University of Toledo</strong><br>3100 Glendale Avenue<br>Toledo, OH 43614<br><a href='https://goo.gl/maps/tRdrTyfFnZ82'>Get Directions</a>"></div>
