<%= partial(:masthead, locals: { image: '/images/LP_generic_header.png', title: 'Location' }) %>
<div class="container">
  <div class="row">
    <div class="col post-preview">
      <h2 class="post-title">Location Details</h2>
      <h3 class="post-subtitle">Conference Venue</h3>
      <p class="post-meta h-card">
        <span class="p-name">Radisson Hotel at The University of Toledo</span><br>
        <span class="h-adr">
          <a href="https://goo.gl/maps/tRdrTyfFnZ82">
            <span class="p-street-address">3100 Glendale Avenue</span><br>
            <span class="p-locality">Toledo</span>, <span class="p-region">OH</span> <span class="p-postal-code">43614</span><br>
          </a>
          <span class="tel">Telephone: <a href="tel:14193816800 " class="value">+1-419-381-6800</a></span>
        </span>
      </p>
      <h3>Room Reservations</h3>
      <p>
        todo
      </p>
    </div>
    <div class="col">
      <div class="map" data-lat="41.616405" data-lon="-83.619011" data-caption="<strong>Radisson Hotel at The University of Toledo</strong><br>3100 Glendale Avenue<br>Toledo, OH 43614<br><a href='https://goo.gl/maps/tRdrTyfFnZ82'>Get Directions</a>"></div>
    </div>
  </div>
</div>
