<%= partial(:masthead, locals: { image: '/images/LP_generic_header.png', title: 'Ticket Packages' }) %>
<div class="container">
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday &amp; Sunday All-Inclusive</h2>
      <p class="post-meta">Our best deal on the full conference experience!</p>
      <p>
        Add details....
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday Sessions &amp; Banquet</h2>
      <p class="post-meta">A complete single-day package</p>
      <p>
        Add details....
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Conference Sessions</h2>
      <p class="post-meta">Can't make the whole weekend? We've got you covered.</p>
    </div>
  </div>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday Sessions</h2>
      <p class="post-meta">The bulk of available training and workshops</p>
      <p>
        Add details....
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Sunday Morning</h2>
      <p class="post-meta">Additional content and speakers</p>
      <p>
        Add details....
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Separately Ticketed Events</h2>
      <p class="post-meta">Our very best deals on the complete conference experience!</p>
    </div>
  </div>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Friday Social</h2>
      <p class="post-meta">Network and enjoy fellowship while supporting the Party</p>
      <p>
        Add details....
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday Banquet</h2>
      <p class="post-meta">A more formal fundraiser and meal</p>
      <p>
        Add details....
      </p>
    </div>
  </div>
</div>
