<%= partial(:masthead, locals: { image: '/images/LP_generic_header.png', title: 'Ticket Packages' }) %>
<div class="container">
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday &amp; Sunday All-Inclusive</h2>
      <p class="post-meta">Our best deal on the full conference experience!</p>
      <p>
        The complete program package: Includes all sessions, Saturday lunch and dinner
      </p>
      <p>
        $148 Early Bird<br>
        $173 Standard<br>
        $198 Just-In-Time<br>
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday Sessions &amp; Banquet</h2>
      <p class="post-meta">A complete single-day package</p>
      <p>
        Includes all Saturday programs, lunch and keynote speaker, <em>plus</em> the Saturday evening dinner and speakers, including Presidential candidates!
      </p>
      <p>
        $128 Early Bird<br>
        $153 Standard<br>
        $178 Just-In-Time<br>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Conference Sessions</h2>
      <p class="post-meta">Can't make the whole weekend? We've got you covered.</p>
    </div>
  </div>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday Sessions</h2>
      <p class="post-meta">The bulk of available training and workshops</p>
      <p>
        Includes morning and after noon programs, lunch and keynote.
      </p>
      <p>
        $89 Early Bird<br>
        $114 Standard<br>
        $139 Just-In-Time<br>
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Sunday Morning</h2>
      <p class="post-meta">Additional, affordable content</p>
      <p>
        Morning training sessions only
      </p>
      <p>
        $20 Early Bird<br>
        $25 Standard<br>
        $30 Just-In-Time<br>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Separately Ticketed Events</h2>
      <p class="post-meta">Add on to your experience</p>
    </div>
  </div>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Friday Social</h2>
      <p class="post-meta">Network and enjoy fellowship while supporting the Party</p>
      <p>
        Separate charge of $35 added to any package includes light fare and 2 drink tickets.
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Saturday Banquet</h2>
      <p class="post-meta">A more formal fundraiser and meal</p>
      <p>
        A Saturday evening dinner, with guest speakers including Presidential candidates! Available separately ticketed to those not purchasing another package option.
      </p>
      <p>
        $39 Early Bird<br>
        $49 Standard<br>
        $59 Just-In-Time<br>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Pricing Schedule and Discounts</h2>
      <p class="post-meta">Conditions Apply</p>
    </div>
  </div>
  <div class="row">
    <div class="col centered post-preview">
      <h2 class="post-title">Student Pricing</h2>
      <p>
        Verified Student registrants get a $25 discount off any package purchase (value of discount not to exceed price of purchase) by using the code STUDENT25OFF at checkout.
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Early bird</h2>
      <p>
        Maximum savings for early registration; closes on March 31<sup>st</sup>
      </p>
    </div>
    <div class="col centered post-preview">
      <h2 class="post-title">Just-In-Time</h2>
      <p>
        Extended registration for those making last-miute bookings in the final two weeks before the event. Effective after May 15<sup>th</sup>
      </p>
    </div>
  </div>
</div>
