<%= partial(:masthead, locals: { image: '/images/LP_generic_header.png', title: 'Featured Speakers' }) %>
<div class="container">
  <div class="row">
    <div class="col speaker-profile">
      <img alt="Laura Ebke" class="rounded-circle" width="200" height="200" src="/images/speakers/Ebke.jpg">
      <h2>Laura Ebke</h2>
      <p>Originally a member of the Republican Party who described herself as "a conservative libertarian", Ebke changed her registration to the Libertarian Party in 2016. She was thought to be the first Libertarian member of the officially nonpartisan legislature. Laura survived the primary against two Republicans in 2018 but was narrowly defeated in the General Election.</p>
    </div>
    <div class="col speaker-profile">
      <img alt="Boomer Shannon" class="rounded-circle" width="200" height="200" src="/images/speakers/Shannon.jpg">
      <h2>Boomer Shannon</h2>
      <p>A stalwart Libertarian organizer and campaign strategist since 2005, most recently notable was his management of Jeff Hewitt’s successful election as County Supervisor, Riverside County California, whom he now serves as Chief of Staff. He has also held leadership roles in many successful statewide initiatives. He will speak on Building Successful Campaigns.</p>
    </div>
  </div>
  <div class="row">
    <div class="col speaker-profile">
      <img alt="Erin Adams" class="rounded-circle" width="200" height="200" src="/images/speakers/Adams.jpg">
      <h2>Erin Adams</h2>
      <p>Erin is a Libertarian from Glencoe who ran for a seat in the Oklahoma House of Representatives in 2016 and currently serves as the State Chair for the Libertarian Party of Oklahoma. She is the current Region 7 Alternate for the LNC and is a founding member of the Feldman Foundation. Erin is also a ballot access warrior and successfully restored the Libertarian Party in Oklahoma by legislative action.</p>
    </div>
    <div class="col speaker-profile">
      <img alt="Joshua Smith" class="rounded-circle" width="200" height="200" src="/images/speakers/Smith.jpg">
      <h2>Joshua Smith</h2>
      <p>Of Antioch, California, Joshua is an At-Large representative of the LNC, former Region 5 Rep for the Libertarian Party of Washington, and a founding member of Think Liberty. He has announced his candidacy for Mayor of Antioch and for Chair of the Libertarian Party of California.</p>
    </div>
  </div>
  <div class="row">
    <div class="col speaker-profile">
      <img alt="Jess Mears" class="rounded-circle" width="200" height="200" src="/images/speakers/Mears.jpg">
      <h2>Jess Mears</h2>
      <p>LNC Membership Development Manager and Libertarian activist since 2007, Jess has founded Libertarian groups at the University of Cincinnati, at the county level, and even a retirement community. She ran for Ohio State Senate in 2010 at age 21, was Director of Events for Johnson Weld in 2016, and managed the Foxall for Florida campaign in 2018.</p>
    </div>
    <div class="col speaker-profile">
      <img alt="Mike Shipley" class="rounded-circle" width="200" height="200" src="/images/speakers/Shipley.jpg">
      <h2>Mike Shipley</h2>
      <p>Mike is a long-time libertarian activist, current Secretary of the Arizona Libertarian Party, founder of Povertarian Libertarians, Chair of Outright Libertarians, and a founding member of the Audacious Caucus.</p>
    </div>
  </div>
</div>
